
@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
</head>

<div class="row" style="margin-top:20px">

    <div id="form1" class="form-horizontal ">

        <section class="panel panel-primary">
            <div class="x_panel">
                <header class="panel-heading" style="background:#337ab7;color:#fff">
                    <h2 class="panel-title" style="padding:10px 0px">Filter Options: Users</h2>
                    <div style="float: right;top:-35px;  position: relative;">
                        <ul class="nav navbar-right panel_toolbox" style="min-width:0">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                            </li>

                        </ul>
                    </div>
                </header>

                <div class="x_content" style="padding:0;display:none">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">User Name: </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control focused" name="filter_Name" id="filter_Name" value="">
                            </div>
                        </div>								 <div class="form-group">
                            <label class="col-sm-3 control-label">Date Start: </label>
                            <div class="col-sm-6">
                                <div id='myDatepicker2'>
                                    @Html.TextBox("Start", null, new { @class = "form-control datepicker", @id = "startdate" })

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date End: </label>
                            <div class="col-sm-6">
                                <div id='myDatepicker1'>
                                    @Html.TextBox("end", null, new { @class = "form-control datepicker", @id = "enddate" })

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: center">
                        <button class="btn btn-primary" id="BookSearchButton" style="">Search</button>
                        <a type="reset" class="btn btn-default" onclick="return confirm('Changes will be lost')" href="~/Users/User_Details">Reset</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="row">
    <section class="panel panel-primary">
        <div class="x_panel">
            <header class="panel-heading" style="margin-top:-1px;background:#337ab7;color:#fff">
                <h2 class="panel-title" style="padding:10px 0px">Users</h2>
                <div style="float: right;top:-35px;  position: relative;display:inline">
                    <a class="btn-s btn btn-primary" href="~/Users/Add"><i class="fa fa-plus"></i> Add</a>
                    <ul class="nav navbar-right panel_toolbox" style="min-width:0">
                        <li style="float:right">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div id="butonCustom" style="float:right"></div>

                </div>
            </header>
            <div class="panel-body" style="padding:0;">
                <div class="dataTables_wrapper ">
                    <div class="row form-inline">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div>

                                <div class="x_content">
                                    <table id="datatableTask" class="table table-striped dataTable table-bordered dt-responsive nowrap tableUpdate response" cellspacing="0" role="grid" width="100%">
                                        <thead>
                                            <tr role="row">
                                                <th width="140" class="sorting_asc" tabindex="0" aria-controls="datatable-ajax" rowspan="1" colspan="1" aria-label="ID: activate to sort column descending" aria-sort="ascending" style="width: 30px;">ID</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-ajax" rowspan="1" colspan="1" aria-label="Friendly Name: activate to sort column ascending" style="width: 138px;">Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-ajax" rowspan="1" colspan="1" aria-label="Friendly Name: activate to sort column ascending" style="width: 100px;">Email Address</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-ajax" rowspan="1" colspan="1" aria-label="Contact Number: activate to sort column ascending" style="width: 100px;">Contact Number</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-ajax" rowspan="1" colspan="1" aria-label="Email Address: activate to sort column ascending" style="width: 100px;">Company</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-ajax" rowspan="1" colspan="1" aria-label="Date of Birth: activate to sort column ascending" style="width: 100px;">Access Level</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-ajax" rowspan="1" colspan="1" aria-label="Company: activate to sort column ascending" style="width: 60px;">Date Created</th>
                                                <th width="140" class="sorting" tabindex="0" aria-controls="datatable-ajax" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 40px;">Action</th>
                                                <th style="display:none;visibility:hidden"></th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="../build/js/custom.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#myDatepicker').datetimepicker();

            $('#myDatepicker2').datetimepicker({
                format: 'DD MMM YYYY',
                ignoreReadonly: true,
                allowInputToggle: true
            });
            $('#myDatepicker1').datetimepicker({
                format: 'DD MMM YYYY',
                ignoreReadonly: true,
                allowInputToggle: true
            });




            var taskTable = $('#datatableTask').DataTable({

                "order": [[0, "desc"]],

                "ajax": {
                    "url": "/Users/GetUsers",
                    "type": "POST",
                    "datatype": "json",

                },
                "columns": [
                    { "data": "useID", "name": "useID" },
                    { "data": "useName", "name": "useName" },
                    { "data": "useEmail", "name": "useEmail" },
                    { "data": "useContact", "name": "useContact" },
                    { "data": "useCompanyName", "name": "useCompanyName" },
                    { "data": "useAccessLvlName", "name": "useAccessLvlName" },
                    { "data": "Date", "name": "Date" },
                    { "data": "Action", "name": "Action" },
                    { "data": "Date", "name": "Date" },
                ],
                "columnDefs": [
                    {
                        "targets": [8],
                        "visible": false,
                    },
                ],
                "serverSide": "true",
                "processing": "true",
                "orderMulti": "false",
                "bDestroy": true,

            });
            var buttons = new $.fn.dataTable.Buttons(taskTable, {
                buttons: [
                    {
                        extend: 'csv',
                        title: 'Users',
                        className: 'btn-s btn btn-primary ',
                        text: '<a style="color:white;border-style:none !important;" ><i class="fa fa-download"></i> Export</a>'
                    }

                ]
            }).container().appendTo($('#butonCustom'));

            oTable = $('#datatableTask').DataTable();
            $('#BookSearchButton').click(function () {
                oTable.column(6).search($('#startdate').val().trim());
                oTable.column(8).search($('#enddate').val().trim());
                oTable.columns(1).search($('#filter_Name').val().trim());
                //oTable.columns(5).search($('#company option:selected').val());
                oTable.draw();
            });

        });



    </script>
}


