
@{
    Layout = null;
}

@if (1 == 1)
{
    <div class="received-chats">
        <div class="received-chats-img">
            <img src="" />
        </div>
        <div class="received-msg">
            <div class="received-msg-inbox">
                <p>Peterr <br /> gkjfghdfjkhgfdjkhgjkfdhjkgfd jkhgjfdhjgdhfjkghfdjghjgdf</p>
                <span class="time">238371789378129</span>
            </div>
        </div>
    </div>
}
@if (2 == 2)
{

    <div class="outgoing-chats">

        <div class="outgoing-chats-msg">

            <p>Anthony Horter <br /> yoyiotiyotioyitoiyotioyig gggggggggggggggg gggggggggggggggg</p>
            <span class="time">545455454</span>

        </div>
        <div class="outgoing-chats-img">
            <img src="" />
        </div>
    </div>
}
@if (1 == 1)
{



    <div class="received-chats">
        <div class="received-chats-img">
            <img src="" />
        </div>
        <div class="received-msg">
            <div class="received-msg-inbox">

                <p>Peterr <br /> gkjfghdfjkhgfdjkhgjkfdhjkgfd jkhgjfdhjgdhfjkghfdjghjgdf</p>
                <span class="time">238371789378129</span>
            </div>
        </div>
    </div>
}
@if (2 == 2)
{


    <div class="outgoing-chats">

        <div class="outgoing-chats-msg">

            <p>Anthony Horter <br /> yoyiotiyotioyitoiyotioyig gggggggggggggggg gggggggggggggggg</p>
            <span class="time">545455454</span>

        </div>
        <div class="outgoing-chats-img">
            <img src="" />
        </div>
    </div>
}
@if (1 == 1)
{



    <div class="received-chats">
        <div class="received-chats-img">
            <img src="" />
        </div>
        <div class="received-msg">
            <div class="received-msg-inbox">

                <p>Peterr <br /> gkjfghdfjkhgfdjkhgjkfdhjkgfd jkhgjfdhjgdhfjkghfdjghjgdf</p>
                <span class="time">238371789378129</span>
            </div>
        </div>
    </div>
}
@if (2 == 2)
{


    <div class="outgoing-chats">

        <div class="outgoing-chats-msg">

            <p>Anthony Horter <br /> yoyiotiyotioyitoiyotioyig gggggggggggggggg gggggggggggggggg</p>
            <span class="time">545455454</span>

        </div>
        <div class="outgoing-chats-img">
            <img src="" />
        </div>
    </div>
}

